.app-container {
  transition: background-color 0.5s ease-in-out;
}

.full-screen {
  height: 100vh; /* Each section covers full screen */
  display: flex;

}

.white-section {
  background: white;
  transition: background 0.5s ease-in-out;
}

.red-section {
  background: red;
  color: white; /* Ensure text is visible */
  transition: background 0.5s ease-in-out;
}
